<h5 class="title">EVENTS</h5>

{{ range first 20 (sort ( where .Site.Pages "Type" "event") ".Params.eventDate" "desc") }}

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">

      {{ with .Params.image }}
      <div class="col-md-4">
        <img class="img-fluid rounded-start" src="{{ . | absURL }}" alt="post-image" />
      </div>
      {{ end }}

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
          <h6 class="card-subtitle">Date/Time{{ .Params.eventDate.Format "Jan 2, 2006 at 15:45" }}</h6>
          <p><big>{{ .Params.location }}</big></p>
        </div>
      </div>

    </div>
    <div class="row no-gutters">

      <p class="card-text mb-2 ml-3">
        <!-- <b>Summary:</b>  -->
        {{ .Params.synopsis }}</p>
      <!-- <p class="card-text"><a href="{{ .Permalink }}">More ...</a></p> -->
    </div>
  </div>

{{ end }}
