{{"<!-- Global Page Section Start -->" | safeHTML }}
<section class="global-page-header mt-5">
  <div class="container">
    <div class="row block d-flex">
      <div class="col-md-12">

        {{ with .Site.Data.ddb.projectTitle }}
        <div class="row justify-content-center">
          <h2>{{ . }}</h2>
        </div>
        {{ end }}

        {{ if .Site.Data.ddb.menuEnable }}
        <div class="row justify-content-center">
          <div>
            <ol class="breadcrumb list-inline">
              {{ range $index, $element := .Site.Data.ddb.menuItems }}
              <li class="list-inline-item">
                <a href="{{ .link }}">{{ .title }}</a>
              </li>
              &nbsp; &nbsp;
              {{ end }}
            </ol>
          </div>
        </div>
        {{ end }}

        <div class="row">
          <div>
          <ol class="breadcrumb list-inline">
            <li class="list-inline-item">
              <a href="{{ .Site.BaseURL }}">
                <i class="ion-ios-home"></i>
                Home &nbsp; &nbsp;/
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/projects">
                Projects &nbsp; &nbsp;/
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/ddb">
                {{ .Site.Data.ddb.projectTitle }} &nbsp; &nbsp;/
              </a>
            </li>
            <li class="active list-inline-item">{{ .Title }}</li>
          </ol>
          </div>

          <div class="ml-auto">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{{"<!-- Global Page Section End -->" | safeHTML }}
