{{ define "main" }}
{{ partial "page-title.html" . }}

<section class="single-post pt-5">

  <div class="container mt-0">
    <div class="section-heading">
      <h2 class="title">{{ .Title }}</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ with .Params.image }}
        <div class="post-img">
          <img class="img-fluid" alt="" src="{{ . | absURL }}">
        </div>
        {{ end }}
        <div>
          {{ partial "teams/team_list.html" . }}
        </div>
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>

      <div class="col-lg-4">
        <!-- sidebar -->
        <div class="work-single-sidebar">
          <h4>{{ .Title }}</h4>

          <!-- Project Synopsis -->
          {{ with .Params.synopsis }}
            <h5 class="h6">Description:</h5>
            <p><small>{{ . | safeHTML }}</small></p>
          {{ end }}

          <!-- Project EMAIL -->
          {{ with .Params.email }}
            <h5 class="h6">Contact:</h5>
            <p><small><a href="mailto:{{ . }}">{{ . }}</a></small></p>
          {{ end }}

          <!-- Project Synopsis -->
          {{ with .Params.news }}
            <h5 class="h6">News Update:</h5>
            <p class="text-success"><small>{{ . | safeHTML }}</small></p>
          {{ end }}

          <!-- Project Events -->
          {{ with .Params.events }}
            <h5 class="h6">Events:</h5>
            {{ range $index, $element := . }}
              <h5 class="h6">{{ .appointment }}</h5>
              <p>
                <b>{{ .title }}</b><br>
                <small>{{ .description | safeHTML }}</small>
              </p>
            {{ end }}
          {{ end }}

          <!-- Oraganisers -->
          {{ with .Params.organizers }}
            <h5 class="h6">Organizer(s):</h5>
            <p>
              <small>
                {{ range $index, $element:= . }}
                {{ with .name }}<span>● {{ . }}</span>{{ end }}
                {{ with .title }}<span><em>, {{ . }}</em></span>{{ end }}
                {{ with .email }}<span>- <a href="mailto:{{ . }}">{{ . }}</a></span>{{ end }}
                <br>
                {{ end }}
              </small>
            </p>
          {{ end }}

          <!-- List Project Activities -->
          {{ with .Params.categories }}
            <h5 class="h6">Activities:</h5>
            <p><small>{{ delimit . ", " }}</small></p>
          {{ end }}

          {{ partial "related.html" . }}

        </div>
      </div>

    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
