{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ range .Data.Pages }}
        <article>

          <div class="card mb-3">
            <!-- <h4 class="card-header"><a href="{{ .Permalink }}">{{ .Title }}</a></h4> -->
            <div class="row">
              <div class="col-md-7">
                <a href="{{ .Permalink }}">
                  <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                  {{ with .Params.image }}<img class="img-fluid rounded-start" src="{{ . | absURL }}" alt="post-image" />{{ end }}
                </a>
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                  <p class="card-text">
                    {{ with .Params.organizer }}<span>by {{ . }}</span>{{ end }}
                      <b><big>Organizer(s):</big></b><br>
                      {{ range $index, $element:= .Params.organizers }}
                      <!-- {{ with .title }}<span><small><em><b>{{ . }}:</b></em></small></span><br>{{ end }} -->
                      {{ with .name }}<span>● {{ . }}</span>{{ end }}
                      {{ with .email }}<span><a href="mail_to:{{ . }}">{{ . }}</a></span>{{ end }}
                      <!-- {{ with .intro }}<br><span><em>{{ . }}</em></span>{{ end }} -->
                      <br>
                    {{ end }}
                  </p>
                  <p class="card-text">
                    {{ with .Params.synopsis }}
                      <!-- <b><big>Summary:</big></b> -->
                      <br>
                      {{ . }}
                    {{ end }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                    </small>
                  </p>
                  <p class="blog-meta">
                    <small class="text-muted">
                      <!-- {{ with .Params.Date }}<span>{{ dateFormat "Monday, Jan 2, 2006" . }}</span>{{ end }} -->
                      <!-- {{ with .Params.tags }}<span><b>Tags</b>: {{ delimit . ", " }}</span>{{ end }} -->
                    </small>
                  </p>
                  <div class="blog-meta">
                    <small class="text-muted">
                      <!-- {{ with .Params.Date }}<span>{{ dateFormat "Monday, Jan 2, 2006" . }}</span>{{ end }} -->
                      <!-- {{ with .Params.tags }}<span><b>Tags</b>: {{ delimit . ", " }}</span>{{ end }} -->
                      {{ with .Params.areas }}<span><b>Areas Active</b>: {{ delimit . ", " }}</span>{{ end }}
                      {{ with .Params.categories }}<br><span><b>Activities</b>: {{ delimit . ", " }}</span>{{ end }}
                    </small>
                  </div>
                  <div class="text-muted">
                    {{ with .Permalink }}
                      <a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Read More</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card-footer text-muted"></div>
              {{ with .Permalink }}
                <a href="{{ . }}" class="btn btn-dafault btn-details hvr-bounce-to-right">Read More</a>
              {{ end }}
            </div> -->
            <!-- {{ with .Params.tags }}
            <div class="card-footer text-muted">
              <span>{{ delimit . ", " }}</span>
            </div>
            {{ end }} -->
          </div>

        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
