{{ if .Site.Data.network.descriptionEnable }}
{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block">
          {{ with .Site.Data.network.descriptionTitle }}
          <h3 class="subtitle">
            {{ . }}
          </h3>
          {{ end }}
          {{ with .Site.Data.network.description }}
          <p>
            {{ . | safeHTML }}
          </p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Team Section End -->" | safeHTML }}
{{ end }}
