{{ if .Site.Data.network.mapEnable }}
{{ "<!-- Feature Section Start -->" | safeHTML }}
<section>
  <div class="container">
    <div class="section-heading pt-4 mt-4 mb-2">
      {{ with .Site.Data.network.mapTitle }}
        <h1 class="title">{{ . }}</h1>
      {{ end }}
      {{ with .Site.Data.network.mapSubtitle }}
      <h4>
        {{ . }}
      </h4>
      {{ end }}
      {{ with .Site.Data.network.mapText }}
      <p>
        {{ . | safeHTML }}
      </p>
      {{ end }}
    </div>

    <!-- ensure map goes under navbar with `z-index: 1;` in .navbar -->
    <!-- ensure map goes under navbar with `z-index: -1;` in #map -->
    <!-- https://stackoverflow.com/questions/43289065/how-to-make-div-element-go-under-nav-bar-when-scrolling-up/43289574 -->
    <div class="row mb-5 mt-4 d-flex justify-content-center">
      <div id="map" style="width: 75%; height: 600px;"></div>
    </div>

  </div>
</section>
{{ "<!-- Feature Section End -->" | safeHTML }}
{{ end }}

<script>
  // https://leafletjs.com/examples.html
  // https://leafletjs.com/examples/quick-start/
  // https://leafletjs.com/examples/geojson/
  // https://leafletjs.com/examples/layers-control/

  // Define the overall Map Container
  var netMap = L.map('map', { scrollWheelZoom: false })
                .setView([50.950, -2.155], 9);

  // Base Maps - https://github.com/leaflet-extras/leaflet-providers
  // Define The Map Style (from Openstreetmap)
  var osm = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 18,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(netMap);

  // Define The Map Style (from Mapbox)
  var mapBox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
      'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(netMap);

  // Dorset Boundary
  // Download
  // https://geoportal.statistics.gov.uk/datasets/f1b7f9a396c64ae89aea1db3177d6463_0/explore?location=51.829657%2C-1.557656%2C7.88
  // https://geoportal.statistics.gov.uk/datasets/counties-and-unitary-authorities-december-2019-boundaries-uk-buc/explore?location=54.484119%2C-3.250000%2C6.90
  // https://www.rowmaps.com/jsons/DT/
  //
  // https://martinjc.github.io/UK-GeoJSON/
  // https://osdatahub.os.uk/downloads/open/BoundaryLine
  // https://code.highcharts.com/mapdata/countries/gb/gb-all.js
  // https://jsfiddle.net/guihig/2ks1ohwc/5/
  // https://gis.stackexchange.com/questions/357562/adding-multipolygon-geojson-file-to-leaflet-map-layer
  // https://stackoverflow.com/questions/13455842/where-to-find-the-uks-regions-map-on-geojson-format
  let dorsetCountyGeoJson = {{ .Site.Data.dorset_county }}
  L.geoJSON(dorsetCountyGeoJson).addTo(netMap);

  let pooleGeoJson = {{ .Site.Data.bcp }}
  L.geoJSON(pooleGeoJson).addTo(netMap);

  function createMarkersFromLocations(members) {
    var markers = []
    for (var i = 0; i < members.length; i++) {
      latitude = members[i].latitude
      longitude = members[i].longitude
      name = members[i].name
      if (!latitude || !longitude || !name) { continue; }
      website = members[i].webSite
      popupText = members[i].popupText ? members[i].popupText : ''
      link_or_name = website ? `<a href="${website}">${name}</a>` : name
      popupText = '<p><small>' + link_or_name  + ' ' +  popupText + '</small></p>'
      marker = new L.marker([latitude, longitude])
                    .bindPopup(popupText)
      markers.push(marker)
    }
    return markers;
  }

  function groupBy(arr, prop) {
    const map = new Map(Array.from(arr, obj => [obj[prop], []]));
    arr.forEach(obj => map.get(obj[prop]).push(obj));
    return Array.from(map.values());
  }

  // North Dorset Locations
  let locations = {{ .Site.Data.network.members }}
  let markers = createMarkersFromLocations(locations)
  let group = L.layerGroup(markers);

  const locationGroups = locations.reduce((groups, item) => {
                          const group = (groups[item.group] || []);
                          group.push(item);
                          groups[item.group] = group;
                          return groups;
                        }, {});

  const layerNames = [...new Set(locations.map((item) => item.group))].sort();

  // Define the initially shown layers (markers)
  // L.featureGroup([northGroup, southGroup, eastGroup, westGroup])
  L.featureGroup([group])
   .addTo(netMap);

  // Define Menu parameters
  let baseMaps = {
    "Detailed": osm,
    "Simple": mapBox
  };
  var overlayMaps = {
    "all": group,
  };

  // layerName0 = layerNames[0]
  // let location0 = locationGroups[layerName0]
  // let marker0 = createMarkersFromLocations(location0)
  // let group0 = L.layerGroup(marker0);
  // overlayMaps[layerName0] = group0;
  layerNames.forEach(layerName => {
    overlayMaps[layerName] = L.layerGroup(createMarkersFromLocations(locationGroups[layerName]));
  })

  // define the control layer (menu)
  L.control.layers(baseMaps, overlayMaps, { collapsed: false })
           .addTo(netMap);

</script>
